@import "@fontsource/dm-sans/400.css";
@import "@fontsource/dm-sans/500.css";
@import "@fontsource/dm-sans/700.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600;700&display=swap');

body,
button,
input,
select,
textarea {
  font-family: 'Lexend', sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes slide-in-right {
    from {
      transform: translateX(100%);
      opacity: 0;
    }

    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .animate-slide-in-right {
    animation: slide-in-right 0.3s ease-out;
  }
}

body,
button,
input,
select,
textarea {
  font-family: 'DM Sans', sans-serif;
}