/* Paleta de cores do sistema Noctua */
:root,
body.theme-default {
  /* Cor principal */
  --color-primary: #375166;
  --color-secondary: #517999;

  /* Estados */
  --color-success: #D4EDDA;
  --color-warning: #FFF3CD;
  --color-error: #F8D7DA;
}